@using EntityLayer.Concrete
@model List<Reservation>
@{
    ViewData["Title"] = "ApprovalReservation";
    Layout = "~/Areas/Users/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Cavab gözləyən Rezervasiyalar</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Səyahət yeri</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nəfər sayı</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tarix</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Vəziyyət</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <span class="text-secondary text-xs font-weight-bold">@item.ID</span>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@item.Destination.City</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success">@item.PersonCount</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            @(((DateTime)item.Date).ToString("dd-MMM-yyyy"))
                                        </span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-primary">@item.Status</span>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

