@model IEnumerable<EntityLayer.Concrete.Guide>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="~/TravelAdmin/javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        @using (Html.BeginForm("s"))
        {
            <!-- Search -->
            <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    @Html.TextBox("s")
                </div>
            </div>
            <!-- /Search -->
        }

        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- Place this tag where you want the button to render. -->
            <li class="nav-item lh-1 me-3">
                <a class="github-button"
                   href="https://github.com/themeselection/sneat-html-admin-template-free"
                   data-icon="octicon-star"
                   data-size="large"
                   data-show-count="true"
                   aria-label="Star themeselection/sneat-html-admin-template-free on GitHub">Star</a>
            </li>

            <!-- User -->
            @await Component.InvokeAsync("AdminProfileList")
            <!--/ User -->
        </ul>
    </div>
</nav>
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin Panel /</span> Cədvəllər</h4>
        <!-- Striped Rows -->
        <div class="card">
            <h5 class="card-header">Rəhbərlər Cədvəli</h5>
            <div class="table-responsive text-nowrap">
                <a href="/Admin/Guide/GuideAdd/" class="btn btn-primary">Yeni</a>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Şəkil</th>
                            <th>Adı</th>
                            <th>Açıqlama</th>
                            <th>Sil</th>
                            <th>Güncəllə</th>
                            <th>Ətraflı</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li data-bs-toggle="tooltip"
                                        data-popup="tooltip-custom"
                                        data-bs-placement="top"
                                        class="avatar avatar-xs pull-up"
                                        title="Lilian Fuller">
                                            <img src="@item.Image" alt="Avatar" class="rounded-circle" />
                                        </li>
                                    </ul>
                                </td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                @{
                                    if (item.Status == true)
                                    {
                                        <td><a href="/Admin/Guide/GuideDelete/@item.ID/" class="btn btn-danger">Passiv et</a></td>
                                    }
                                    else
                                    {
                                        <td><a href="/Admin/Guide/GuideDelete/@item.ID/" class="btn btn-danger">Aktiv et</a></td>
                                    }
                                }
                                <td><a href="/Admin/Guide/GuideUpdate/@item.ID/" class="btn btn-success">Güncəllə</a></td>
                                <td><a href="/Admin/Guide/GuideDetails/@item.ID/" class="btn btn-info">Ətraflı</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <a href="/Admin/Guide/GuideAdd/" class="btn btn-primary">Yeni</a>
        </div>
        <!--/ Striped Rows -->
        <div class="content-backdrop fade"></div>
    </div>
</div>
<!-- Content wrapper -->
