@model IEnumerable<EntityLayer.Concrete.Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="~/TravelAdmin/javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        @using (Html.BeginForm("s"))
        {
            <!-- Search -->
            <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    @Html.TextBox("s")
                </div>
            </div>
            <!-- /Search -->
        }

        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- Place this tag where you want the button to render. -->
            <li class="nav-item lh-1 me-3">
                <a class="github-button"
                   href="https://github.com/themeselection/sneat-html-admin-template-free"
                   data-icon="octicon-star"
                   data-size="large"
                   data-show-count="true"
                   aria-label="Star themeselection/sneat-html-admin-template-free on GitHub">Star</a>
            </li>

            <!-- User -->
            @await Component.InvokeAsync("AdminProfileList")
            <!--/ User -->
        </ul>
    </div>
</nav>
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin Panel /</span> Cədvəllər</h4>
        <!-- Striped Rows -->
        <div class="card">
            <h5 class="card-header">Yorumlar Cədvəli</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Yazan</th>
                            <th>Tarix</th>
                            <th>Səyahət yeri</th>
                            <th>Sil</th>
                            <th>Ətraflı</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.CommentUser</td>
                                <td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
                                <td>@item.Destination.City</td>
                                <td><a href="/Admin/Comment/CommentDelete/@item.ID/" class="btn btn-danger">Sil</a></td>
                                <td><a href="/Admin/Comment/CommentDetails/@item.ID/" class="btn btn-info">Ətraflı</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Striped Rows -->
        <div class="content-backdrop fade"></div>
    </div>
</div>
<!-- Content wrapper -->

